<header>
<h2>Navigation Header</h2>
<nav>
  <ul>
    <li>
      <%= link_to "HOME", root_path %>
    </li>
    <li>
      <%= link_to "ABOUT US", home_about_path %>
    </li>
    <li>
      <%= link_to "SERVICE", home_service_path %>
    </li>
  </ul>
</nav>
</header>
