<header>
<h2>Navigation Header</h2>
<nav>
  <ul>
    <li>
      <%= link_to "HOME", root_path %>
    </li>
    <li>
      <%= link_to "ABOUT US", home_about_path %>
    </li>
    <li>
      <!-- When not sure about all the available routes, use 'rails routes' command. -->
      <%= link_to "SHOW SERVICES", services_path %>
    </li>
    <li>
      <!-- Utilized 'rails routes' for getting a GET route for adding a new service. -->
      <%= link_to "ADD A SERVICE", new_service_path %>
    </li>
  </ul>
</nav>
</header>
