<h1>About Us...!</h1>
<p>
  <!-- Playing around with the Ruby tag. -->
  <!-- Calculation or logics should be handled in the 'controller' layer, not the view layer. -->
  <%= @about_me.length > 0 ? @about_me : "Working in progress." %>
  <%= @about_me = "" %>
  <%= @about_me.length > 0 ? @about_me : "Working in progress." %>
  <%= @about_number %>
</p>