// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
h1 {
  color: red;
}
header {
  font-style: italic;
}
.profiler-results.profiler-left.profiler-top.profiler-no-controls {
  display: none;
}